<%= turbo_frame_tag 'results' do %>

  <table style="width: 320px; padding-right: 32px;">
    <tr>
      <th>Name</th>
      <th>Party</th>
      <th>Faction</th>
    </tr>
    <% stakeholders.each do |stakeholder| %>
      <%= render stakeholder %>
    <% end %>
  </table>

<% end %>
