<tr id="<%= dom_id stakeholder %>">
  <td>
    <%= link_to stakeholder.name, edit_stakeholder_path(stakeholder) %>
  </td>
  <td>
    <%= stakeholder.party %>
  </td>
  <td>
    <%= stakeholder.faction %>
  </td>
</tr>
