<h1>Editing stakeholder</h1>

<%= render "form", stakeholder: @stakeholder %>

<br>

<div>
  <%= link_to "Show this stakeholder", @stakeholder %> |
  <%= link_to "Back to stakeholders", stakeholders_path %>
</div>
